{% extends 'base.html' %} {% block title %}{{title}}{% endblock title %} {%
block content %}

<h1>
  <img src="../static/img/chines/gong_64px.png" />Chinês<img
    src="../static/img/chines/gong_64px.png"
  />
</h1>

<!-- 
    rato -> 2008, 1996, 1984, 1972, 1960, 1948, 1936, 1924
    boi -> 2009, 1985, 1973, 1961, 1949, 1937, 1925, 1913
    tigre -> 2010, 1998, 1986, 1974, 1962, 1950, 1938, 1926, 1914
    coelho -> 2011, 1999, 1987, 1975, 1963, 1951, 1939, 1927, 1915
    dragão -> 2012, 2000, 1988, 1976, 1964, 1952, 1940, 1928, 1916
    serpente -> 2013, 2001, 1989, 1977, 1965, 1953, 1941, 1929
    cavalo -> 2014, 2002, 1990, 1978, 1966, 1954, 1942, 1930
    cabra ->2015, 2003, 1991, 1979, 1967, 1955, 1943, 1931
    macaco -> 2016, 2004, 1992, 1980, 1968, 1956, 1944, 1932
    galo -> 2017, 2005, 1993, 1981, 1969, 1957, 1945, 1933
    cão -> 2018, 2006, 1994, 1982, 1970, 1958, 1946, 1934
    porco -> 2019, 2007, 1995, 1983, 1971, 1959, 1947, 1935

-->

<img src="../static/img/chines/icons8_lion_127px.png" alt="" />
<img src="../static/img/chines/icons8_monkey_127px.png" alt="" />
<img src="../static/img/chines/icons8_rat_127px_1.png" alt="" />
<img src="../static/img/chines/icons8_swine_127px.png" alt="" />
<img src="../static/img/chines/icons8_year_of_dog_127px.png" alt="" />
<img src="../static/img/chines/icons8_year_of_dragon_127px_1.png" alt="" />
<img src="../static/img/chines/icons8_year_of_goat_127px.png" alt="" />
<img src="../static/img/chines/icons8_year_of_horse_127px.png" alt="" />
<img src="../static/img/chines/icons8_year_of_ox_127px.png" alt="" />
<img src="../static/img/chines/icons8_year_of_rabbit_127px.png" alt="" />
<img src="../static/img/chines/icons8_year_of_rooster_127px.png" alt="" />
<img src="../static/img/chines/icons8_year_of_snake_127px.png" alt="" />
<img src="../static/img/chines/icons8_year_of_tiger_127px_1.png" alt="" />

<a href="/"><img class="back" src="../static/img/back_to_64px.png" alt="" /></a>
{% endblock %}
